<!DOCTYPE HTML>
<html lang="en" class="no-js" ng-app="dockerboard" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <title>Dockerboard</title>
    <base href="/">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" href="bower_components/famous-angular/dist/famous-angular.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/angular-material/themes/blue-theme.css">
    <link rel="stylesheet" href="styles/app.css">
  </head>
  <body layout="row" md-theme="blue" flex>
    <div ng-controller="SidebarCtrl" layout="row">
      <md-sidenav layout="column"
        class="md-sidenav-left md-whiteframe-z2"
        md-component-id="left"
        md-is-locked-open="$media('md')">
        <md-toolbar layout="column" >
          <h1 class="md-toolbar-tools" layout="column" flex>
            <a href="" ng-click="goHome()" layout="row" flex>Dockerboard</a>
          </h1>
        </md-toolbar>
        <md-content flex style="overflow: auto;">
          <div ng-repeat="section in menu.sections">
            <a class="menu-item menu-title md-menu-item"
              ng-click="menu.toggleSelectSection(section)"
              ng-href="{{section.url}}"
              md-highlight="menu.isSectionSelected(section)"
              md-ink-ripple="#bbb">
              {{section.name}}
            </a>

            <a class="menu-item menu-sub-item md-menu-item"
              ng-show="menu.isSectionSelected(section)"
              ng-repeat="page in section.pages"
              ng-href="{{page.url}}"
              md-highlight="menu.isPageSelected(section, page)"
              md-ink-ripple="#bbb">
              <span ng-bind="page"></span>
            </a>
          </div>
        </md-content>
      </md-sidenav>
    </div>

    <div layout-fill tabindex="-1" role="main">
      <md-toolbar layout="column" class="md-blue-theme">
        <div layout="row" flex>
          <button class="menu-icon" hide-gt-sm aria-label="Toggle Menu" style="position: relative; top: -5px;">
            <md-icon icon="img/icons/ic_menu_24px.svg"></md-icon>
          </button>
        </div>
      </md-toolbar>

      <md-content md-scroll-y ui-view flex class="md-padding">
      </md-content>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!--
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    -->
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/famous/dist/famous-global.js"></script>
    <script src="bower_components/famous-angular/dist/famous-angular.js"></script>

    <!-- Dockerboard App -->
    <script src="scripts/config.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/services/index.js"></script>
    <script src="scripts/services/menu.js"></script>
    <script src="scripts/modules/sidebar/sidebar.js"></script>
    <script src="scripts/modules/board/board.js"></script>
    <script src="scripts/modules/site/site.js"></script>
    <script src="scripts/modules/site/routes.js"></script>
  </body>
</html>