<!DOCTYPE HTML>
<html lang="en" class="no-js" ng-app="dockerboard" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <title>Dockerboard | Simple dashboards, visualizations, managements for your dockers</title>
    <base href="/">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="Simple dashboards, visualizations, managements for your dockers.">
    <meta name="keywords" content="docker, dockers, docker dashboards, docker visualizations, docer managements">

    <link rel="stylesheet" href="bower_components/famous-angular/dist/famous-angular.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/angular-material/themes/blue-theme.css">
    <link rel="stylesheet" href="styles/app.css">
  </head>
  <body layout="row" md-theme="blue" ng-controller="SidebarCtrl">
    <md-sidenav
      layout="column"
      class="md-sidenav-left md-whiteframe-z2"
      md-component-id="left"
      md-is-locked-open="$media('gt-sm')">
      <md-toolbar md-theme="blue">
        <h1 class="md-toolbar-tools">
          <a href="" ng-click="goHome()">Dockerboard</a>
        </h1>
      </md-toolbar>
      <md-content>
        <div ng-repeat="section in menu.sections">
          <button class="menu-item menu-title md-menu-item"
            ng-if="!section.url"
            ng-click="menu.toggleSelectSection(section)"
            ng-href="#{{section.url}}"
            md-highlight="menu.isSectionSelected(section)"
            md-ink-ripple="#bbb">{{section.name}}</button>
          <a class="menu-item menu-title md-menu-item"
            ng-if="section.url"
            ng-click="menu.toggleSelectSection(section)"
            ng-href="#{{section.url}}"
            md-highlight="menu.isSectionSelected(section)"
            md-ink-ripple="#bbb">
            {{section.name}}
          </a>

          <a class="menu-item menu-sub-item md-menu-item"
            ng-show="menu.isSectionSelected(section)"
            ng-repeat="page in section.pages"
            ng-href="{{page.url}}"
            md-highlight="menu.isPageSelected(section, page)"
            md-ink-ripple="#bbb">
            <span ng-bind="page"></span>
          </a>
        </div>
      </md-content>
    </md-sidenav>

    <div layout="column" tabindex="-1" role="main" flex>
      <md-toolbar layout="column" ng-click="openMenu()" class="md-blue-theme md-toolbar-tools" flex>
        <div layout="row" layout-align="center center" flex>
          <md-button class="menu-icon" hide-gt-sm aria-label="Toggle Menu" style="position: relative; top: -5px;">
            <md-icon icon="bower_components/material-design-icons/navigation/svg/production/ic_menu_24px.svg"></md-icon>
          </md-button>
          <div style="line-height: 28px;" hide-sm ng-if="menu.currentSection.name">{{menu.currentSection.name}}</div>
          <span layout="column"class="menu-separator-icon" ng-if="menu.currentPage" style="padding: 0 10px;">
            <img style="height: 16px;" src="bower_components/material-design-icons/navigation/svg/production/ic_chevron_right_24px.svg" alt="" aria-hidden="true" hide-sm>
          </span>
          <div style="line-height: 28px;" ng-bind="menu.currentPage"></div>
<div flex></div>
        </div>
      </md-toolbar>

      <md-content flex layout="column" class="md-padding" ui-view></md-content>
    </div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!--
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    -->
    <!--
    <script src="bower_components/famous/dist/famous-global.js"></script>
    <script src="bower_components/famous-angular/dist/famous-angular.js"></script>
    -->
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/pretty-bytes/pretty-bytes.js"></script>
    <script src="bower_components/angular-pretty-bytes/angular-pretty-bytes.js"></script>

    <!-- Dockerboard App -->
    <script src="scripts/config.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/filters/filters.js"></script>
    <script src="scripts/services/index.js"></script>
    <script src="scripts/services/menu.js"></script>
    <script src="scripts/services/containers.js"></script>
    <script src="scripts/services/images.js"></script>
    <script src="scripts/modules/sidebar/sidebar.js"></script>
    <script src="scripts/modules/site/site.js"></script>
    <script src="scripts/modules/site/routes.js"></script>
    <script src="scripts/modules/containers/containers.js"></script>
    <script src="scripts/modules/images/images.js"></script>
    <script src="scripts/modules/board/board.js"></script>
  </body>
</html>

