<div layout="column" layout-fill class="images" ng-controller="ContainersCtrl" flex>
  <md-toolbar layout="column" md-theme="none" flex style="max-height: 64px;">
    <form>
    <md-list layout="row" role="list">
      <md-item>
        <md-item-content>
          <md-switch md-theme="blue" ng-model="queryParams.all" aria-label="All">All</md-switch>
        </md-item-content>
      </md-item>
      <md-item>
        <md-item-content>
          <md-switch md-theme="blue" ng-model="queryParams.size" aria-label="Size">Size</md-switch>
        </md-item-content>
      </md-item>
      <md-item>
        <md-item-content>
          <div style="padding: 8px;">
            <input id="queryParamsSince" ng-model="queryParams.since" style="font-size: 10px; max-width: 70px; border: 1px solid transparent; border-bottom: 1px solid #f2f2f2;" />
            <label for="queryParamsSince">Since</label>
          </div>
        </md-item-content>
      </md-item>
      <md-item>
        <md-item-content>
          <div style="padding: 8px;">
            <input id="queryParamsBefore" ng-model="queryParams.before" style="font-size: 10px; max-width: 70px; border: 1px solid transparent; border-bottom: 1px solid #f2f2f2;" />
            <label for="queryParamsBefore">Before</label>
          </div>
        </md-item-content>
      </md-item>
      <md-item>
        <md-item-content>
          <div style="padding: 8px;">
            <input id="queryParamsLimit" ng-model="queryParams.limit" style="max-width: 50px; border: 1px solid transparent; border-bottom: 1px solid #f2f2f2;" />
            <label for="queryParamsLimit">Limit</label>
          </div>
        </md-item-content>
      </md-item>
      <md-item style="position: absolute; right: 8px;">
        <md-item-content>
          <md-button aria-label="Search" ng-click="search()">
            <img src="bower_components/material-design-icons/action/svg/production/ic_search_24px.svg" style="width: 24px; height: 24px;" />
          </md-button>
        </md-item-content>
      </md-item>
    </md-list>
    </form>
  </md-toolbar>

  <md-content style="margin-top: 16px;">
    <md-list>
      <md-item ng-repeat="container in containers">
        <md-item-content>
          <div class="md-tile-left">
            <img src="bower_components/material-design-icons/image/svg/production/ic_crop_original_24px.svg" style="width: 24px; height: 24px; margin: 16px;" />
          </div>
          <div class="md-tile-content">
            <h3 ng-init="container.Id = (container.Id | limitTo: 12)" title="{{ container.Id }}">ID: <a ng-href="#/containers/{{ container.Id }}">{{ container.Id }}</a></h3>
            <p>Created: {{ container.Created + '000' | date:'yyyy-MM-dd HH:mm:ss Z' }}</p>
            <p>Status: {{ container.Status }}</p>
            <p>Names: {{ container.Names.join(', ') }}</p>
            <p>Ports: {{ container.Ports.join(', ') }}</p>
            <p ng-if="container.SizeRw >= 0">SizeRw: {{ container.SizeRw | prettyBytes }}</p>
            <p ng-if="container.SizeRootFs >= 0">SizeRootFs: {{ container.SizeRootFs | prettyBytes }}</p>
            <p>Command: <span style="background: #eee;">{{ container.Command }}</span></p>
            <p>Image: <a ng-init="container.Image = (container.Image | formatImageId)" ng-href="#/images/{{ container.Image }}">{{ container.Image }}</a></p>
          </div>
        </md-item-content>
      </md-item>
    </md-list>
  </md-content>
</div>
