<div layout="column" layout-fill class="images" ng-controller="ImagesCtrl" flex>
  <md-toolbar layout="column" md-theme="none" flex style="max-height: 64px;">
    <form>
    <md-list layout="row" role="list">
      <md-item>
        <md-item-content>
          <md-switch md-theme="blue" ng-model="queryParams.all" aria-label="All">All</md-switch>
        </md-item-content>
      </md-item>
      <md-item>
        <md-item-content>
          <div style="padding: 8px;">
            <input id="queryParamsFilters" ng-model="queryParamsFilters" style="max-width: 123px; border: 1px solid transparent; border-bottom: 1px solid #f2f2f2;" />
            <label for="queryParamsFilters">Filters</label>
          </div>
        </md-item-content>
      </md-item>
      <md-item style="position: absolute; right: 8px;">
        <md-item-content>
          <md-button aria-label="Search" ng-click="search()">
            <img src="bower_components/material-design-icons/action/svg/production/ic_search_24px.svg" style="width: 24px; height: 24px;" />
          </md-button>
        </md-item-content>
      </md-item>
    </md-list>
    </form>
  </md-toolbar>

  <md-content style="margin-top: 16px;">
    <md-list>
      <md-item ng-repeat="image in images">
        <md-item-content>
          <div class="md-tile-left">
            <img src="bower_components/material-design-icons/image/svg/production/ic_photo_24px.svg" style="width: 24px; height: 24px; margin: 16px;" />
          </div>
          <div class="md-tile-content">
            <h3 ng-init="image.Id = (image.Id | limitTo: 12)" title="{{ image.Id }}">ID: <a ng-href="#/images/{{ image.Id }}">{{ image.Id }}</a></h3>
            <h4>Repo: {{ getRepo(image.RepoTags) }}</h4>
            <p>Tags: {{ getTags(image.RepoTags) }} </p>
            <p>Size: {{ image.Size | prettyBytes }}</p>
            <p>VirtualSize: {{ image.VirtualSize | prettyBytes }}</p>
            <p>Created: {{ image.Created + '000' | date:'yyyy-MM-dd HH:mm:ss Z' }}</p>
          </div>
        </md-item-content>
      </md-item>
    </md-list>
  </md-content>
</div>

