.menu-item {
  background: none;
  border-width: 0;
  cursor: pointer;
  display: block;
  color: #333;
  font-size: inherit;
  line-height: 40px;
  max-height: 40px;
  opacity: 1;
  margin: 0;
  outline: none;
  padding: 0px 28px;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;
  z-index: 1;
  -webkit-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height, background-color, opacity;
  -moz-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height, background-color, opacity;
  transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height, background-color, opacity;
}
.menu-item.ng-hide {
  max-height: 0;
  opacity: 0;
}
.menu-item:hover {
  color: #999;
}
.menu-item:focus {
  font-weight: bold;
}
.menu-item.menu-title {
  color: #888;
  font-size: 14px;
  padding-left: 16px;
  text-align: left;
  /*text-transform: uppercase;*/
  transition: color 0.35s cubic-bezier(0.35, 0, 0.25, 1);
}
.menu-item.menu-title:hover,
.menu-item.menu-title.active {
  color: #1976d2;
}

.menu-icon {
  background: none;
  border: none;
}
.app-toolbar .md-toolbar-tools h3 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.board md-toolbar, .board md-content {
  border: 1px solid #f3f3f3;
  border-radius: 3px;
}
.images md-toolbar, .images md-content {
  border: 1px solid #f3f3f3;
  border-radius: 3px;
}

.board md-list {
  padding: 8px;
}

.images md-list {
  padding: 8px;
}

.images md-toolbar md-list md-item {
  border-left: 1px dotted #f3f3f3;
}
.images md-toolbar md-list md-item:first-child,
.images md-toolbar md-list md-item:last-child {
  border-left: 1px dotted transparent;
}

.images table {
  line-height: 1.478;
}
.images table tbody tr {
  color: #888;
  font-size: 12px;
}
.images md-switch .md-switch-thumb {
  position: relative;
}

md-sidenav {
  max-width: 246px;
}

#loading-bar .bar {
  position: absolute;
  width: 100%;
  background: white;
  transform: translate3d(0px, 0px, 0px);
}
#loading-bar-spinner {
  width: 100%;
}
#loading-bar .peg {
  box-shadow: 0 0 10px #2c3e50, 0 0 5px #2c3e50;
}
#loading-bar-spinner .spinner-icon {
  position: absolute;
  right: 30px;
  border-top-color: white;
  border-left-color: white;
  transform: translate3d(0px, 0px, 0px);
}
